<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>pro</display-name>
  <welcome-file-list>
    <welcome-file>controller</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>SearchController</servlet-name>
    <servlet-class>com.servlet.Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchController</servlet-name>
    <url-pattern>/SearchController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>search</display-name>
    <servlet-name>search</servlet-name>
    <servlet-class>search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>search</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>log</display-name>
    <servlet-name>log</servlet-name>
    <servlet-class>log</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>log</servlet-name>
    <url-pattern>/log</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>reg</display-name>
    <servlet-name>reg</servlet-name>
    <servlet-class>reg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>reg</servlet-name>
    <url-pattern>/reg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>fetch</display-name>
    <servlet-name>fetch</servlet-name>
    <servlet-class>fetch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fetch</servlet-name>
    <url-pattern>/fetch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>buy</display-name>
    <servlet-name>buy</servlet-name>
    <servlet-class>buy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>buy</servlet-name>
    <url-pattern>/buy</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>buycheck</display-name>
    <servlet-name>buycheck</servlet-name>
    <servlet-class>buycheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>buycheck</servlet-name>
    <url-pattern>/buycheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>cart</display-name>
    <servlet-name>cart</servlet-name>
    <servlet-class>cart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cart</servlet-name>
    <url-pattern>/cart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>inde</display-name>
    <servlet-name>inde</servlet-name>
    <servlet-class>inde</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>inde</servlet-name>
    <url-pattern>/inde</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>controller</display-name>
    <servlet-name>controller</servlet-name>
    <servlet-class>controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>controller</servlet-name>
    <url-pattern>/controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>clap</display-name>
    <servlet-name>clap</servlet-name>
    <servlet-class>clap</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>clap</servlet-name>
    <url-pattern>/clap</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>password</display-name>
    <servlet-name>password</servlet-name>
    <servlet-class>password</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>password</servlet-name>
    <url-pattern>/password</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logout</display-name>
    <servlet-name>logout</servlet-name>
    <servlet-class>logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>feedback</display-name>
    <servlet-name>feedback</servlet-name>
    <servlet-class>feedback</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>feedback</servlet-name>
    <url-pattern>/feedback</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>order</display-name>
    <servlet-name>order</servlet-name>
    <servlet-class>order</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>order</servlet-name>
    <url-pattern>/order</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>remove</display-name>
    <servlet-name>remove</servlet-name>
    <servlet-class>remove</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>remove</servlet-name>
    <url-pattern>/remove</url-pattern>
  </servlet-mapping>
</web-app>